<html>
    <body>
        <b><%= message %></b>
        <p><a href="/">home</a></p>
        <form action="/logout" method="POST">
            <input type="submit" value="logout">
        
    </body>
</html>

