<html>
<body>
<form action="/login" method="POST">
<p>User Name: <input type="text" name=uname></p>
<p>Password: <input type="text" name=password></p>
<input type="submit" value="login">
</form>
<a href="/register_page">Go to register</a>
</body>
</html>

