<html>
<body>
	<form action="/register" method="post">
		<p>User Name: <input type="text" name=uname></p>
		<p>Password: <input type="text" name=password></p>
		<input type="submit" value="register">
	</form>
	<a href="/">back to home</a>
</body>
</html>
