<html>
<body>
    <head>

    </head>
<p id="demo" ></p>
<p>we have <%= noofres %> restaurants fit your finding</p>

<script type='text/javascript'>

</script>
<form action="detail" method="GET"></form>
<ul>
    
    <% res_name.forEach(function(res_name) { %>
        <li>
        <% var id = '/detail?_id='+ res_name._id %> 
       <a href= <%= id %>> <%= res_name.name %></a> 
            
        </li>
        <% }); %>
</ul>
</form>
<p>If you can't find you restaurant, you can create your own restaurant by clicking the button below.</p>
<form action="/insertres_page" method="get">
    <input type="submit" value="Create new restaurant">
</form>

<p><a href="/">home</a></p> 
<form action="/logout" method="POST">
    <input type="submit" value="logout">

</form>
</body>
</html>
